body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../bitacora-DavidSSB99/imagen/Fondo.png);
    background-size: cover;
    margin: 50px 200px;
    color: #0A4487;
    font-weight: 400;
}